{% extends 'soc/base.html' %}
{% load static %}

{% block title %}InTheGame{% endblock %}

{% block content %}
<br>

<div class="container">
	<div class="jumbotron">
		{% if user.is_authenticated %}
			<h1>Здраствуйте!</h1>
			<p class="lead" style="font-size:18pt;">
				{{ user.username }}, добро пожаловать в InTheGame. <a href="{% url 'profile' username=user.username %}">Перейти в ваш профиль?</a>
				<h2 align="center" style="font-size:20pt;">Статус аккаунта: {{ group_active_user }}</h2>
			</p>
			<hr>
			<div class="container-fluid">
				<div class="row">
					<a class="btn btn-lg btn-primary btn-block" href="{% url 'profile' username=user.username %}" role="button">Перейти в профиль</a>
					<a class="btn btn-lg btn-success btn-block" href="{% url 'create_post' %}" role="button">Добавить пост</a>
					<a class="btn btn-lg btn-warning btn-block" href="{% url 'all_chats' %}" role="button">Чаты</a>
					<a class="btn btn-lg btn-danger btn-block" href="{% url 'logout' %}" role="button">Выйти</a>

				</div>
			</div>
		{% else %}
			<h1 style="font-size:23pt;">Внимание!</h1>
			<hr>
			<h2 style="font-size:20pt;">Вы не вошли в свой аккаунт, <a href="{% url 'login' %}">хотите войти?</a></h2>
		{% endif %}
	</div>
</div>

<h1 align="center" style="font-size:35pt;">ЛЕНТА</h1>
<br>
<div class="container">
	<div class="all_posts" style="">
		{% for post in posts %}
		<div class="card border-secondary">
			<div class="card-header bg-secondary text-white">
				<img src="/main{{ post.user.avatar_set.get.image.url }}" class="rounded-circle float-left" alt="avatar" style="width:65px;"><br><br><br>
				<a href="{% url 'profile' username=post.user %}" class="text-white" style="font-size:17pt;">{{ post.user }}</a><br>
				<p class="text-info">{{ post.user.groups.get }}</p>
			</div>

			<div class="card-body">
				<a href="{% url 'post' id=post.id %}" class="text-dark" style="text-decoration: none;">
					<h4>{{ post.title }}</h4>
					{{ post.text|linebreaksbr }}
					{% with post.attachment_set.all as attachs %}
						{% for attach in attachs %}
							{% if attach.photo %}
								<br><br><br>
								<p style="text-align: center;"><img class="img-fluid" src="/main{{ attach.photo.url }}" alt="image"></p>
							{% endif %}
						{% endfor %}
					{% endwith %}
				</a>
			</div>
			<p style="margin-left:10px;">{{ post.created_at }}</p>
			<div class="card-footer" style="display: flex;">

				<p class="text-danger">35 </p>
				<svg style="margin-top: 10px;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
					<path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
					<path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
				</svg>
			</div>
		</div>
		<br><br>
		{% endfor %}
	</div>
</div>
{% endblock %}