{% extends 'soc/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<br>
<div class="container">
	<form method="POST", enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<!--
		<h2 style="margin: 0 35%; font-size:35px;">Добавить пост</h2><br>

		<div class="form-group">
			<label for="id_title">{{ form.title.label }}</label><br>
			<input type="text" name="title" maxlength="199" required="" id="id_title" class="form-control" placeholder="У меня есть мечта...">
			<p class="form-text text-muted" style="font-size:10pt;">Опишите основной смысл поста в двух словах.</p>
		</div>
		<br>
		<div class="form-group">
			<label for="id_post">{{ form.post.label }}</label><br>
			<textarea name="post" rows="10" required="" id="id_post" class="form-control" spellcheck="false" placeholder="Мечта - особый вид воображения, представляющий собой самостоятельное создание новых образов, направленный на будущее и выражающий желания человека."></textarea>
			<p class="form-text text-muted" style="font-size:10pt;">А теперь полностью излейте свою душу.</p>
		</div>
		<br>
		<div class="input-group mb-3">
			<div class="custom-file">
				<div class="custom-file">
					<label for="id_image" class="custom-file-label">Выберите файл</label>
					<input type="file" class="custom-file-input" id="id_image" name="image">
				</div>
				<div class="input-group-append">
					<span class="input-group-text" id="">Upload</span>
				</div>
			</div>
		</div>
		<p class="form-text text-muted" style="font-size:10pt;">И наконец-то продемонстрируйте это на фотографий!</p>


		{% if not_perm %}
			<b style="color:red; font-size: 21px;">У вас недостаточно прав, чтобы создать пост.</b>
		{% endif %}
		<br>
		<div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>-->
		<input type="submit">
	</form>
</div>
{% endblock %}