{% extends 'soc/base.html' %}

{% block title %}Выйти{% endblock %}

{% block content %}
<br>

<div class="container">
	<div class="jumbotron">
		<h1>Выход</h1>
		<p class="lead" style="font-size:18pt;">
			{{ user }}, перед тем как войти или зарегистрироваться вам необходимо выйти из вашего текущего аккаунта.<br><a href="{% url 'logout' %}">Вы точно хотите выйти?</a>
		</p>
	</div>
</div>







<!--
<div id="exit_and_join">
	<b style="margin-left: 5%; font-size: 21pt;">Выход</b>
	<p style="font-size: 19pt;">{{ user }}, перед тем как войти или зарегистрироваться вам необходимо выйти из вашего текущего аккаунта.<br><a href="{% url 'logout' %}">Вы точно хотите выйти?</a></p>
</div>-->
{% endblock %}