{% extends 'soc/base.html' %}

{% load static %}


{% block title %}Chat Room{% endblock %}
{% block content %}
    <main class="content">
        <div class="container p-0">

        <div class="card">
          <div class="row g-0">

            <div class="col-12 col-lg-5 col-xl-3 d-none d-lg-block border-right">

              <div class="px-4 d-none d-md-block">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1">
                    <input type="text" class="form-control my-3" placeholder="Search...">
                  </div>
                </div>
              </div>

              {% with members=chat.users.all %}
                  {% for member in members %}
                      <a href="{% url 'profile' username=member.username %}" class="list-group-item list-group-item-action border-0">
                          <div class="d-flex align-items-start">
                              <img src="/main{{ member.avatar_set.get.image.url }}" class="rounded-circle mr-1" alt="{{ member.username }}" width="40" height="40">
                              <div class="flex-grow-1 ml-3">
                                  {{ member.username }}
                                  <div class="small"><span class="fas fa-circle chat-offline"></span>Online</div>
                              </div>
                          </div>
                      </a>
                  {% endfor %}
              {% endwith %}



              <hr class="d-block d-lg-none mt-1 mb-0">
            </div>
            <div class="col-12 col-lg-7 col-xl-9">
                <div class="py-2 px-4 border-bottom  d-lg-block">
                    <div class="d-flex align-items-center py-1">
                        <div class="position-relative">
                            <img src="/main{{ chat.avatar.url }}" class="rounded-circle mr-1" alt="{{ chat }}" width="50" height="50">
                        </div>
                        <div class="flex-grow-1 pl-3">
                            <strong>{{ chat.name }}</strong>
                        </div>
                    </div>
                </div>

                <!----------------------------------------------------------------------------------------->
              <div class="position-relative">
                  <div class="chat-messages p-4" id="chat-window" style="height: 630px;">
                      {% for message in messages %}
                          {% if message.user == request.user %}
                              <div class="chat-message-right pb-4" style="width:70%;">
                                  <div>
                                      <img src="/main{{ message.user.avatar_set.get.image.url }}" class="rounded-circle mr-1" alt="you" width="40" height="40">
                                  </div>
                                  <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                      <div class="font-weight-bold mb-1"><a href="{% url 'profile' username=message.user.username %}" style="text-decoration: none; color: black;">Вы</a></div>
                                      {{ message.text|linebreaksbr }}
                                      <div class="text-muted small text-nowrap mt-2">{{ message.created_at }}</div>
                                  </div>
                              </div>
                          {% else %}
                              <div class="chat-message-left pb-4" style="width:70%;">
                                  <div>
                                      <img src="/main{{ message.user.avatar_set.get.image.url }}" class="rounded-circle mr-1" alt="{{ message.user }}" width="40" height="40">
                                  </div>
                                  <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                      <div class="font-weight-bold mb-1"><a href="{% url 'profile' username=message.user.username %}" style="text-decoration: none; color: black;">{{ message.user.username }}</a></div>
                                      {{ message.text|linebreaksbr }}
                                      <div class="text-muted small text-nowrap mt-2">{{ message.created_at }}</div>
                                  </div>
                              </div>
                          {% endif %}
                      {% endfor %}
                      <br>
                      <center>
                        <p>New messages</p>
                          <hr style="border-color: red;">
                      </center>
                  </div>
              </div>

              <div class="flex-grow-0 py-3 px-4 border-top">
                <div class="input-group">
                    <input type="text" class="form-control" id="chat-message-input" placeholder="Type your message">
                    <button class="btn btn-primary" id="chat-message-submit">Send</button>
                    {{ chat.token|json_script:"room-name" }}
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>
    <div id="requestUser" style="display: none;">{{ request.user.username }}</div>
    <div id="chatName">{{ chat.name }}</div>
    <script src="{% static 'js/websocket.js' %}"></script>
{% endblock %}