{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <!--
    <textarea id="chat-log" cols="100" rows="20">
        {*
        {% for message in messages %}
            {{ message.user }}|{{ message.text }}
        {% endfor %}
        *}
    </textarea><br>
    -->
    <section id="chat-log" style="width:50%; height:700px; overflow-y: scroll;">
        {% for message in messages %}
            <p style="font-size: 20pt;">{{ message.user }} || {{message.text}}<br></p>
        {% endfor %}
    </section>


    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script src="{% static 'js/websocket.js' %}"></script>
</body>
</html>