div {
    white-space: pre-line;
}

.category-name {
    font-size: 14pt;
    margin-left: -10px;
}

.small {
    margin-left: -10px;
    font-size: 10pt;
}

.comments {
    width:70%;
    margin: 0 15% 0 15%;
}

textarea {
    resize: none;
}

