{% extends 'soc/base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<h2 align="center">Вход</h2>
<br>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
    <div class="container">
        <div class="form-group row">
            <label for="id_username" class="col-sm-1 col-form-label">Логин</label>
            <div class="col-sm-10">
                <input type="text" name="username" class="form-control" id="id_username" maxlength="150" placeholder="My name is *****.">
            </div>
        </div>
        <div class="form-group row">
            <label for="id_password" class="col-sm-1 col-form-label">Пароль</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="id_password" maxlength="150" placeholder="My defence is *****.">
            </div>
        </div>

        {% if form.errors %}
            <p class="text-danger">Вы неправильно ввели логин или пароль. Попробуйте снова.</p>
        {% elif user_isnt_login %}
            <p class="text-danger">Вы не можете оставлять комментарий и посты, т.к вы не вошли в свой аккаунт!</p>
        {% endif %}

        <a href="{% url 'password_reset' %}">Я забыл пароль :(</a>
        <div class="form-group row">
            <div class="col-sm-10">
                <br>
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </div>
    </div>
</form>


    <!--
        <label for="username" style="font-size:14pt;">{{ form.username.label_tag }}</label>
        <br>
        <input id="id_username" name="username" type="text" required="" maxlength="150" autocomplete="username" autocapitalize="none">
        <br><br>
        <label for="password" style="font-size:14pt;">{{ form.password.label_tag }}</label>
        <br>
        <input type="password" name="password" autocomplete="current-password" required="" id="id_password">

        <p>
            <a href="{% url 'password_reset' %}" style="font-size: 14pt;">Забыли пароль?</a>
            <br>
            <a href="{% url 'registration' %}" style="font-size: 14pt;">У меня нет аккаунта</a>
            {% if form.errors %}
                <br>
                <b style="font-size: 12pt; color: red;">Вы неправильно ввели логин или пароль. Попробуйте снова.</b>
                <br>
                {% if user_isnt_login %}
                    <b style="font-size: 12pt; color: red;">Вы не можете оставлять комментарий
                    и посты, т.к вы не вошли в свой аккаунт!</b>
                {% endif %}
            {% endif %}
            <button type="submit" style="margin-left:55%;" class="aqua_button">Войти</button>
        </p>
        <br>
        -->
{% endblock %}