{% extends 'soc/base.html' %}

{% load static %}

{% block title %}{{ active_user }}{% endblock %}

{% block content %}
<div class="container">
	{% if active_user == request.user %}
		<nav>
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a href="#home" aria-controls="home" role="tab" class="nav-link active" data-toggle="tab" aria-selected="true">Мой профиль</a>
				</li>
				<li class="nav-item">
					<a href="#settings" aria-controls="settings" role="tab" class="nav-link" data-toggle="tab" aria-selected="false">Настройки</a>
				</li>
			</ul>
		</nav>
	{% endif %}
	<br>
	<div class="tab-content">
		<div class="tab-pane fade show active" id="home">
			<div class="row">
				<div class="col-12 col-sm-11 col-md-3 col-lg-3">
					<img src="/main{{ active_user.avatar_set.get.image.url }}" alt="avatar" class="w-100"><br>
				</div>
				<br><br>
				<div class="col-12 col-sm-11 col-md-8 col-lg-8">
					<p style="font-size: 20pt;">{{ active_user }}</p>
					<p class="text-info">{{ active_user.groups.get }}</p>
					<p>{{ active_user.email }}</p>
				</div>
			</div>
		</div>
		{% if active_user == request.user %}
			<div class="tab-pane" id="settings">
				<div class="row">
					<div class="col-8">
						Тут будут настройки
					</div>
					<div class="col-3"></div>
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}
