{% extends "soc/base.html" %}

{% block title %}Все пользователи{% endblock %}

{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
		<th scope="col">id</th> <th scope="col">Почта</th> <th>Юзернейм пользователя</th> <th>Имя пользователя</th> <th>Фамилия пользователя</th> <th>Последний раз был в сети</th><th>Дата регистраций</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            {% if user.is_active %}
                <tr>
    	               <th scope="row">{{ user.id }}</th> <td>{{ user.email }}</td> <td><a href="{% url 'profile' username=user.username %}">{{ user.username }}</a></td> <td>{% if user.first_name %}{{ user.first_name }}{% else %}Не указано{% endif %}</td> <td>{% if user.last_name %}{{ user.last_name }}{% else %}Не указана{% endif %}</td> <td>{{ user.last_login }}</td> <td>{{ user.date_joined }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
