{% extends 'soc/base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container">
   <div id="login" style="margin:auto; border: 1px solid #9C9C9C; background-color: #EAEAEA; max-width: 500px; heigt: 320px;">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">

                  <form id="login-form" class="form" method="post">
                      {% csrf_token %}
                      <h3 class="text-center text-info">Вход</h3>
                      <div class="form-group">
                          <label for="id_username" class="text-info">Логин</label><br>
                          <input type="text" name="username" class="form-control" id="id_username" maxlength="150" placeholder="My name is *******.">
                      </div>
                      <div class="form-group">
                          <label for="id_password" class="text-info">Пароль</label><br>
                            <input type="password" name="password" class="form-control" id="id_password" maxlength="150" placeholder="I've password *****.">
                      </div>
                      {% if form.errors %}
                          <p class="text-danger">Вы неправильно ввели логин или пароль. Попробуйте снова.</p>
                      {% endif %}
                      <a href="{% url 'registration' %}" class="text-right">У меня нет аккаунта :(</a><br>
                      <a href="{% url 'password_reset' %}" class="text-right">Я забыл пароль :|</a>
                      <br><br>
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary">Войти</button>
                      </div>
                  </form>

              </div>
          </div>
      </div>
   </div>
</div>
{% endblock %}