{% extends 'soc/base.html' %}

{% block title %}Сменить пароль{% endblock %}

{% block content %}
<div class="container">
{% if validlink %}
    <h1 align="center">Пожалуйста, введите новый пароль и подтвердите его.</h1>
    <br><br>
    <form method="post" style="margin-left:5%;">
        {% csrf_token %}
        <div class="form-group row">
            <label for="id_new_password1" class="col-sm-3 col-form-label" style="font-size:15pt;">Новый пароль:</label><br>
            <div class="col-sm-9">
                <input type="password" class="form-control" name="new_password1" autocomplete="new-password" id="id_new_password1"><br>
            </div>
        </div>

        <div class="form-group row">
            <label for="id_new_password2" class="col-sm-3 col-form-label" style="font-size:15pt;">Новый пароль еще раз:</label><br>
            <div class="col-sm-9">
                <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required="" id="id_new_password2"><br><br>
            </div>
        </div>
        {% if form.new_password1.errors %}
            <p>{{ form.new_password1.errors }}</p>
        {% elif form.new_password2.errors %}
            <p>{{ form.new_password2.errors }}</p>
        {% endif %}

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Сменить</button>
            </div>
        </div>
    </form>
    {% else %}
        <h1>Пароль изменён неудачно</h1>
        <p>Пароль изменён неудачно. Возможно данный пароль занят, попробуйте создать другой.</p>
    {% endif %}
</div>
{% endblock %}